:root {
  --white: #ffffff;
  --lightGrey: hsl(217, 12%, 63%);
  --mediumGrey: hsl(216, 12%, 54%);
  --darkBlue: hsl(213, 19%, 18%);
  --veryDarkBlue: hsl(216, 12%, 8%);
  --orange: hsl(25, 97%, 53%);
}

*, 
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Overpass', sans-serif;
  font-size: 93.75%; /* similar to 15px */
  font-weight: 400;
  color: var(--mediumGrey);
}

body {
  background: var(--veryDarkBlue);
  display: grid;
  place-items: center;
  height: 100vh;
}

h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: var(--white);
}

p {
  font-size: 1rem;
  color: var(--mediumGrey);
  line-height: 1.5;
  padding: 1rem 0;
}

#slide2 {
  display: none;
}

#rating-result {
  background-color: var(--darkBlue);
  color: var(--orange);
  padding: 0.4rem 0.9rem;
  border-radius: 1.3rem;
  font-size: 1rem;
}

.column-center {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.align-all-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.margin-top {
  margin-top: 1rem;
}

.margin-top-double {
  margin-top: 2rem;
}

.fade-transition {
  transition: all .1s linear;
}

.btn {
  border: none;
  cursor: pointer;
}

.container {
  border-radius: 1.5rem;
  background: radial-gradient(circle at center top, hsl(215, 20%, 17%) 0%, hsl(215, 27%, 12%) 100%);
  width: clamp(23rem, 50%, 26.5rem);
  padding: 2rem clamp(1.5rem, 2.5vw, 2rem);
}

.circle {
  background-color: var(--darkBlue);
  border-radius: 50%;
  width: 3.3rem;
  height: 3.3rem;
  text-align: center;
  display: grid;
  place-items: center;
}

.rating {
  font-size: 1rem;
}

.ratings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ratings input {
  display: none;
}

.ratings input:checked ~ div {
  color: var(--white);
  background-color: var(--lightGrey);
}

.ratings input:hover ~ div {
  color: var(--white);
  background-color: var(--orange);
}

.submit {
  width: 100%;
  padding: 0.9rem 0;
  border-radius: 1.5rem;
  border: none;
  color: var(--white);
  background-color: var(--orange);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.15rem;
}

.submit:hover {
  color: var(--orange);
  background-color: var(--white);
}
